.ant-layout {
  height: 100%;
}

.header {
  padding: 0;
  display: flex;
  align-items: center;
  height: 64px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color, #409EFF);
  text-decoration: none;
  line-height: 50px; // 文本行高

  padding-left: 2rem;
}

.logo {
  width: 200px;
  height: 60px;
}

.layout-content {
  overflow-y: auto;
}

.user-info {
  display: flex;
  align-items: center;
  /* 垂直居中 */
  margin-left: auto;
  /* 将用户信息推到右侧 */
  padding-right: 20px;
  color: #fff;
}

.back-home-btn {
  margin-right: 16px;
  padding: 4px 12px;
  border-radius: 6px;
  border: none;
  background: #409EFF;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  height: fit-content;
}

.user-avatar {
  display: flex;
  align-items: center;
  padding-right: 0rem;
}

.avatar-link {
  display: flex;
  align-items: center;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.user-name {
  margin: 0 20px;
}

.user-logout {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.ant-layout-header {
  padding: 0 !important;
}

.title-move {
  transform: translateY(15%);
}