.ant-layout {
  height: 100%;
}

.header {
  padding: 0;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color, #409EFF);
  text-decoration: none;

  //text-align:center;// 文本水平居中
  // text-indent: 2em;// 文本首行缩进 em=1个文字的宽度
  line-height: 50px; // 文本行高

  padding-left: 2rem;
}

.logo {
  width: 200px;
  height: 60px;
}

.layout-content {
  overflow-y: auto;
}

.user-info {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 20px;
  color: #fff;

  .user-name {
    margin-right: 20px;

    a {
      color: #fff;
    }
  }

  .user-logout {
    display: inline-block;
    cursor: pointer;
  }
}

.ant-layout-header {
  padding: 0 !important;
}
.user-avatar {
  position: relative;
  height: 100%; /* 确保容器有高度 */
  padding-right: 2rem;
}

.avatar-admin {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.title-move{
  transform: translateY(15%);
}