.ant-layout {
  height: 100%;
}

.header {
  padding: 0;
}

.title {
  // font-style: italic; // 字体倾斜;
  // font-weight: bold; // 字体加粗 可以写normal 400 500 600 700=bold 800 900
  // font-size: 20px; // 字体大小, 默认是16px
  // font-family: 'Courier New', Courier, monospace;//字体类型
  font: italic bold 20px 'Courier New'; // 以上内容的简写;
  color: #fff;

  //text-align:center;// 文本水平居中
  text-decoration: underline; // 文本下划线;
  // text-indent: 2em;// 文本首行缩进 em=1个文字的宽度
  line-height: 50px; // 文本行高

  padding-left: 50px;
}

.logo {
  width: 200px;
  height: 60px;
}

.layout-content {
  overflow-y: auto;
}

.user-info {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 20px;
  color: #fff;

  .user-name {
    margin-right: 20px;

    a {
      color: #fff;
    }
  }

  .user-logout {
    display: inline-block;
    cursor: pointer;
  }
}

.ant-layout-header {
  padding: 0 !important;
}