.kick_out-button {
    background-color: yellow;
}

.revive-button {
    background-color: yellowgreen;
}

.prohibit-button {
    background-color: rgb(249, 92, 92);
}

.operate-space {
    button {
        font-size: 10px;
    }
}

.account-text {
    cursor: pointer;
    text-align: center;
}

.description-text {
    cursor: pointer;
}