.publish-quill {
    .ql-editor {
        min-height: 300px;
        height: 400px; // 添加默认高度
        overflow-y: auto; // 当内容超出高度时显示滚动条

        pre.ql-code-block {
            background: #2d2d2d;
            color: #ccc;
            padding: 15px;
            border-radius: 4px;
            margin: 10px 0;

            code {
                font-family: 'Fira Code', Menlo, Monaco, Consolas, "Courier New", monospace;
                font-size: 14px;
                line-height: 1.5;
            }
        }
    }
}

.hljs {
    padding: 0 !important;
    background: transparent !important;
}