.user-center {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: center/cover url('~@/assets/login.png');

    .container {
        width: 440px;

        position: absolute;
        left: 50%;
        top: 50%;
        background-color: rgb(244, 250, 250);
        transform: translate(-50%, -50%);
        box-shadow: 0 0 50px rgb(0 0 0 / 10%);
        border-radius: 10%;

        .avatar-box {
            width: 100px;
            height: 100px;
            margin: 0 auto;

            .avatar-image {
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
        }

        .user-name {
            width: 100%;
            margin: 0 auto;
            text-align: center;
            font-weight: bold; // 加粗字体;
            font-size: large;

        }

        .user-content {
            padding-left: 10%;
            color: gray;

        }

        .user-profile {
            background-color: #CEDEDA;
            padding: 5px 20px;
            border-radius: 20px;

            .user-profile-title {
                font-weight: bold; // 加粗字体;
            }

            .user-profile-content {
                margin-left: 20px;
            }

        }

        .user-profile-box {
            width: 450px;
            margin: 4px auto;
            text-align: left;
            min-height: 80px;
            border: 0px solid #f0f0f0;
            border-radius: 4px;
            background: transparent;
            padding: 8px;
            font-size: 16px;
            line-height: 1.5;
            box-sizing: border-box;
        }

        .user-profile-content {
            /* 保持原有样式 */
            margin-left: 0;
        }

        .user-profile-content textarea {
            /* 让编辑时的文本域和只读div样式一致 */
            background: transparent !important;
            border: 0 !important;
            box-shadow: none !important;
            resize: none;
            padding: 0;
            font-size: 16px;
            line-height: 1.5;
            min-height: 64px;
        }

    }

    .ant-card-head-title {
        text-align: center;
        display: block;
        width: 100%;
        font-size: 20px; // 增大标题字体大小
        font-weight: bold; // 加粗标题字体
    }

    .float-button-edit {
        top: 20px;
        right: -50px;
    }

    .float-button-modify-psw {
        top: 80px;
        right: -50px;
    }

    .float-button-return {
        right: -50px;
    }

    .float-button-save {
        top: 140px;
        right: -50px;
    }

}