#publish-button {
    background-color: #21de3d;
}

#publish-button:hover {
    background-color: #12f029;
}

#revoke-button {
    background-color: #ece50e;
}

#revoke-button:hover {
    background-color: #e8eb15;
}